ontologies:
modelCatalog:
    xmlUrl: https://mintproject.github.io/Mint-ModelCatalog-Ontology/release/1.2.0/ontology.xml
    prefix: sdm
    prefixUri: https://w3id.org/okn/o/sdm#
name: modelcatalog
output_dir: outputs
endpoint:
url: https://endpoint.mint.isi.edu/modelCatalog-1.2.0
prefix: https://w3id.org/okn/i/mint/
graph_base: http://ontosoft.isi.edu:3030/modelCatalog-1.2.0/data/

openapi:
  openapi: 3.0.1
  info:
    description: This is the API of the  Software Description Ontology
      at [https://mintproject.github.io/Mint-ModelCatalog-Ontology/release/1.3.0/index-en.html](https://w3id.org/okn/o/sdm)
    title: Model Catalog
    version: v1.3.0
  externalDocs:
    description: Model Catalog
    url: https://w3id.org/okn/o/sdm
  servers:
    - url: https://api.models.mint.isi.edu/v1.3.0
    - url: https://dev.api.models.mint.isi.edu/v1.3.0
    - url: http://localhost:8080/v1.3.0
